@keyframes bg-swap {
    0% {
        opacity:0.4;
      background-image: var(--image1);
    }
    28% {
        opacity: 0.4;
      }
    33% {
        opacity:0.4;
      background-image: var(--image2);
    }
    61%{
        opacity:0.4;
    }
    66%{
        opacity:0.4;
        background-image: var(--image3);
      }
      95%{
        opacity:0.4;
      }
    100% { 
        opacity:0.4;
      background-image: var(--image1);
    }
  }
  
  .animate-background-swap {
    animation: bg-swap 21s infinite;
  }
  